/* @media (min-width: 320px) {
	.banner {
		display: none;
	}
	.memories {
		grid-template-columns: 1fr;
		padding: 0 1rem;
	}
	.memories .mem_card {
		grid-column: 1;
	}
}

@media (min-width: 640px) {
	.memories {
		grid-template-columns: 1fr;
		padding: 1rem 2rem;
	}
}
@media (min-width: 768px) {
	.memories {
		grid-template-columns: 1fr 1fr;
		padding: 1rem 4rem;
	}
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1440px) {
	.banner {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 1rem 4rem;
	}
	.memories .mem_card {
		grid-column: auto;
	}
}
@media (min-width: 1620px) {
	.banner {
		display: grid;
		padding: 1rem 10rem;
	}
	.memories {
		grid-template-columns: 1fr 1fr 1fr;
		padding: 0 10rem;
	}
}
@media (min-width: 1980px) {
	.banner {
		display: grid;
	}
	.memories {
		grid-template-columns: 1fr 1fr 1fr;
		padding: 20rem;
	}
} */
